import(methods, rjson, RCurl, xtable, reshape2, triangle, httpRequest, digest, ggplot2, rgdal, sp, plyr, igraph)
importFrom("stats", "aggregate", "aov", "as.formula", "qnorm", "quantile", "reshape", "rgamma", "rnorm", "runif")
importFrom("utils", "URLencode", "combn", "find", "read.table")
#importFrom("base", merge, summary)
#importFrom("graphics", plot)
exportClasses(ovariable, odecision)
exportMethods(merge, summary, plot, unique)
export(
	odag,
	oprint,
	oapply,
	ooapply,
	orbind,
	op_baseGetData,
	op_baseGetLocs,
	opbase.locations,
	opbase.indices,
	opbase.obj.exists,
	opbase.series,
	opbase.data,
	opbase.upload,
	opasnet.data,
	opasnet.csv,
	opasnet.page,
	objects.get,
	objects.latest,
	objects.store,
	objects.put,
	objects.encode,
	objects.decode,
	dropall,
	interpret,
	convert.units,
	tidy,
	Fetch,
	Fetch2,
	EvalOutput,
	CheckMarginals,
	CheckInput,
	ComputeDependencies,
	Ops,
	Math,
	CheckDecisions,
	DecisionTableParser,
	CollapseMarginal,
	CheckCollapse,
	CollapseTableParser,
	GIS.Exposure,
	GIS.Concentration.matrix,
	Ovariable,
	ddata_apply,
	fillna,
	fill.na.merge,
	"result<-",
	result,
	Optimize,
	Minimize,
	combine,
	openv,
	openv.setN,
	odebug,
	continuousOps,
	odirichlet,
	unkeep
)