import(methods, rjson, RCurl, xtable, reshape2, triangle, httpRequest, digest)
#importFrom("base", merge, summary)
#importFrom("graphics", plot)
exportClasses(ovariable, odecision)
exportMethods(merge, summary, plot)
export(
	oprint,
	oapply,
	orbind,
	#summary, 
	op_baseGetData,
	op_baseGetLocs,
	#op_baseWrite,
	opbase.locations,
	opbase.obj.exists,
	opbase.series,
	opbase.data,
	opbase.upload,
	opasnet.data,
	opasnet.csv,
	objects.get,
	objects.latest,
	objects.store,
	objects.put,
	objects.encode,
	objects.decode,
	dropall,
	interpret,
	convert.units,
	tidy,
	Fetch,
	Fetch2,
	EvalOutput,
	CheckMarginals,
	CheckInput,
	ComputeDependencies,
	#merge,
	#plot,
	#print, #not in methods
	Ops,
	Math,
	CheckDecisions,
	DecisionTableParser,
	CollapseMarginal,
	CheckCollapse,
	CollapseTableParser,
	GIS.Exposure,
	GIS.Concentration.matrix,
	Ovariable,
	ddata_apply,
	fillna,
	"result<-",
	result#,
	#xtable
)