import(methods, RODBC, rjson, RCurl, rbugs, rjags, RgoogleMaps, xtable, reshape2, triangle)
export(
	op_baseGetData,
	op_baseGetLocs,
	op_baseWrite,
	opbase.data,
	opbase.upload,
	opbase.locations,
	opasnet.data,
	opasnet.csv,
	objects.get,
	objects.put,
	apply.decisions,
	decisions.apply,
	dropall,
	fetch,
	init.assessment,
	interpret,
	make.oassessment,
	movariable,
	orbind,
	PTable,
	convert.units,
	make.ovariable,
	summary.bring,
	tidy,
	fetch,
	Fetch2,
	EvalOutput,
	CheckMarginals,
	CheckInput,
	ComputeDependencies,
	merge,
	plot,
	print,
	update,
	Ops,
	Math,
	GetData,
	CheckDecisions,
	DecisionTableParser,
	tapply,
	CollapseMarginal,
	CheckCollapse,
	CollapseTableParser
)