import(methods, RODBC, rjson, RCurl, xtable, reshape2, triangle, httpRequest)
export(
	op_baseGetData,
	op_baseGetLocs,
	op_baseWrite,
	opbase.data,
	opbase.upload,
	opbase.old.data,
	opbase.old.upload,
	opbase.old.locations,
	opasnet.data,
	opasnet.csv,
	objects.get,
	objects.put,
	apply.decisions,
	decisions.apply,
	dropall,
	fetch,
	init.assessment,
	interpret,
	make.oassessment,
	movariable,
	orbind,
	PTable,
	convert.units,
	make.ovariable,
	summary.bring,
	tidy,
	fetch,
	Fetch2,
	EvalOutput,
	CheckMarginals,
	CheckInput,
	ComputeDependencies,
	merge,
	plot,
	print,
	update,
	Ops,
	Math,
	CheckDecisions,
	DecisionTableParser,
	oapply,
	CollapseMarginal,
	CheckCollapse,
	CollapseTableParser,
	GIS.Exposure,
	#earth.radius,
	#central.angle,
	#dtheta.dy,
	#dphi.dx,
	#LaPerKm,
	#LoPerKm,
	GIS.Concentration.matrix
)