import(methods, rjson, RCurl, xtable, reshape2, triangle, httpRequest, digest)
export(
	summary,
	oprint,
	op_baseGetData,
	op_baseGetLocs,
	op_baseWrite,
	opbase.locations,
	opbase.obj.exists,
	opbase.series,
	opbase.data,
	opbase.upload,
	opasnet.data,
	opasnet.csv,
	objects.get,
	objects.latest,
	objects.store,
	objects.put,
	objects.encode,
	objects.decode,
	apply.decisions,
	decisions.apply,
	dropall,
	fetch,
	init.assessment,
	interpret,
	make.oassessment,
	movariable,
	orbind,
	PTable,
	convert.units,
	make.ovariable,
	summary.bring,
	tidy,
	fetch,
	Fetch2,
	EvalOutput,
	CheckMarginals,
	CheckInput,
	ComputeDependencies,
	merge,
	plot,
	print,
	update,
	Ops,
	Math,
	CheckDecisions,
	DecisionTableParser,
	oapply,
	CollapseMarginal,
	CheckCollapse,
	CollapseTableParser,
	GIS.Exposure,
	#earth.radius,
	#central.angle,
	#dtheta.dy,
	#dphi.dx,
	#LaPerKm,
	#LoPerKm,
	GIS.Concentration.matrix,
	Ovariable,
	ddata_apply,
	fillna,
	result,
	xtable
)